<!doctype html>
<html lang="en">
<head>
    <title>oop_ticket_ordering_system</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<article>
    <a href="/admin/flight">
        <h2>Flights</h2>
    </a>
    {{flightsCount}}
</article>


<article>
    <a href="/admin/airport">
        <h2>Airports</h2>
    </a>
    {{airportsCount}}
</article>


<article>
    <a href="/admin/airline">
        <h2>Airlines</h2>
    </a>
    {{airlinesCount}}
</article>

</body>
</html>