<!doctype html>
<html lang="en">
<head>
    <title>admin/airport/index</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<h1>{{#add}}Create new Airline:{{/add}} {{^add}}Edit Airline:{{/add}}</h1>

{{#airline}}
    <form action="/admin{{#add}}/airline/add{{/add}}{{^add}}/airline/{{id}}/edit{{/add}}" name="airline" method="POST">
        <table border="0">
            <tr>
                <td>Name</td>
                <td>:</td>
                <td><input type="text" name="name" value="{{#name}}{{name}}{{/name}}"/></td>
            </tr>
            <tr>
                <td>Code</td>
                <td>:</td>
                <td><input type="text" name="code" value="{{#code}}{{code}}{{/code}}"/></td>
            </tr>
        </table>
        <input type="submit" value="{{#add}}Create{{/add}}{{^add}}Update{{/add}}"/>
    </form>
{{/airline}}


<div class="error">{{#errorMessage}}{{errorMessage}}{{/errorMessage}}</div>

</body>
</html>