<!doctype html>
<html lang="en">
<head>
    <title>admin/airport/index</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="space-y-9 divide-y">

{{#airline}}
    <h1>{{name}}</h1>
    <a href="/admin/airline/{{id}}/aircraft/add">Add new aircraft</a>
    <ul>
        {{#aircrafts}}
            <li>
                <h3>{{modal}}</h3>
                <h2>{{name}}</h2>
                <a href="/admin/airline/{{airline.id}}/aircraft/{{id}}/edit">Edit</a>
            </li>
        {{/aircrafts}}
    </ul>
{{/airline}}

<div class="error">{{#errorMessage}}{{errorMessage}}{{/errorMessage}}</div>

</body>
</html>