<!doctype html>
<html lang="en">
<head>
    <title>oop_ticket_ordering_system</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen flex">
<div class="flex-1 m-auto max-w-xl lg:max-w-4xl space-y-1">